# Write the stdout and stderr to the specified file
#LOGFILE=/dev/null

# Enable debug mode
#DEBUG=false

# Enable verbose mode
#VERBOSE=false

# Disables user interaction
#BATCHMODE=true

# Set keyboard layout
KEYMAP=us

# Size of the UEFI partiton. Default is `128M`
UEFI_SIZE="128M"

# vi: ft=bash
