# Write the stdout and stderr to the specified file
#LOGFILE=/dev/null

# Enable debug mode
#DEBUG=false

# Enable verbose mode
#VERBOSE=false

# Uncomment to disable user interaction
#BATCHMODE=true

# Set keyboard layout. Default is `us`
#KEYMAP="us"

# Size of the UEFI partiton. Default is `128M`
#UEFI_SIZE="128M"

# Size of swapfile. Default value is `4G`
#SWAP_SIZE="4G"

# Set locale in /etc/locale.gen
#LOCALE="en_US.UTF-8"

# Set the hosename
#HOSTNAME="archinstall"

# Set the timezone of the system
#TIMEZONE="Europe/Berlin"

# Append extra kernel cmdline options to /etc/extra/cmdline. Default is an
# empty string ``.
#CMDLINE_EXTRA="ipv6.disable=1"

# Set the default shell for the superuser and
#DEFAULT_SHELL="/bin/bash"

# Set the cpu type. `intel` or `amd` for ucode.
# CPU=intel

# vi: ft=bash
